<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>

  <h1>Welcome to the Mad Lib! Please fill out this form!</h1>
  <form action="/madlib" method="mad">
    <label for="name1"> Enter a Name</label>
    <input id="name1" name="name1" type="text">
    <label for="name2"> Enter another Name</label>
    <input id="name2" name="name2" type="text">
    <label for="animal"> Enter an animal</label>
    <input id="animal" name="animal" type="text">
    <label for="exclamation"> Enter an exclimation</label>
    <input id="exclamation" name="exclamation" type="text">
    <label for="verb">Enter a past tense verb</label>
    <input id="verb" name="verb" type="text">
    <label for="noun">Enter a noun</label>
    <input id="noun" name="noun" type="text">
    <button type="submit">GO!</button>
    </form>
  </body>
</html>