<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Choose Which Madlib Story you Would Like to Create.</h1>
    <p><a href = "/form">Adventure</a></p>
    <p><a href = "/horror">Horror</a></p>
    <p><a href = "/underwater">Underwater</a></p>
  </body>
</html>